services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql-2022
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Temp@123
      - MSSQL_PID=Developer
      - MSSQL_AGENT_ENABLED=True

  kafka:
    image: bitnamilegacy/kafka:4.0.0-debian-12-r10
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      # Updated Networking: 'INTERNAL' for Docker containers, 'EXTERNAL' for your Windows host
      - KAFKA_CFG_LISTENERS=INTERNAL://:29092,EXTERNAL://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=INTERNAL
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER

  connect:
    image: quay.io/debezium/connect:latest
    container_name: connect
    ports:
      - "8083:8083" # The REST API port to manage your connectors
    environment:
      # Connects to Kafka using the internal Docker network door (port 29092)
      - BOOTSTRAP_SERVERS=kafka:29092
      - GROUP_ID=1
      # Kafka Connect needs these internal topics to keep track of its own state
      - CONFIG_STORAGE_TOPIC=my_connect_configs
      - OFFSET_STORAGE_TOPIC=my_connect_offsets
      - STATUS_STORAGE_TOPIC=my_connect_statuses
    depends_on:
      - kafka
      - mssql

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123" # HTTP port (for APIs/Bruno/Web UI)
      - "9000:9000" # Native port (for DB clients like DBeaver)
    environment:
      - CLICKHOUSE_USER=default
      - CLICKHOUSE_PASSWORD=Temp@123
    depends_on:
      - kafka